<html>
<body>

<img src="https://geopositioningservices.com/logo.png">

<h1>Localizador de Dispositivos via HTML5</h1>

<h2>¡Gracias por tu compra!</h2>

<p>En éste link puedes descargar el código completo.</p>
<p>Es un archivo comprimido que contiene el código Javascript en Main.js</p>
<p>La descarga está verificada y es totalmente segura.</p>

<a href="https://geopositioningservices.com/codigomapas.zip">Da click aquí para descargar.</a>
</body>

<p>Descargarás un archivo comprimido que dentro contiene el código. Te recomiendo abrirlo en bloc de notas para que no se ejecute y lo puedas copiar.</p>

<p><b>Recuerda que si éste código no es de tu entera satisfacción se te hará un reembolso del 100% en menos de 48 horas.</b></p>

</html>