{% extends 'GeosignalWebBundle::base.html.twig' %}
{% block body %}
    <div id="map-canvas"></div>
    <script type="text/javascript">
        var user_result_latitude = "{{resultado[0]}}";
        var user_result_longitude = "{{resultado[1]}}";
    </script>
{% endblock %}


{% block remarketing %}

{%endblock %}