<div class="hidden">
    <div id="paypalContent">
        <div id='paypalContentInner'>
            <h1>{%trans%}Tu ubicación.{%endtrans%}</h1>
            <p>{%trans%}ésta es tu posición, ahora ingresa el número que deseas buscar.{%endtrans%}</p>

            <form class='register validate' >
                <input type="text" class="required internationalPhone" minlength="8" maxlength="13" name="telefono" />
                <input type="submit" value="{%trans%}Buscar{%endtrans%}" />
            </form>
        </div>
        <form class='hidden paypalForm' action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <p>{%trans%}El servicio tiene un costo que se puede pagar a través de Paypal.{%endtrans%}</p>
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="{%trans%}CHTLV9JJKV75S{%endtrans%}">
            <a href="#" class="btn-locate show-payment">{%trans%}Obtener Ubicación{%endtrans%}</a>
            <img alt="{%trans%}Obtener Ubicación{%endtrans%}" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
            <p>{%trans%}Da click en el botón para obtener más información.{%endtrans%}</p>
        </form>
    </div>
</div>

<script type='text/javascript'>
    labels3 = labels2.slice();
    labels3.push("{%trans%}Dispositivo localizado.{%endtrans%}");
</script>