<div class="hidden">
    <div id="paymentForm" >
        {% include 'loader/loader.html.twig' with {'class':'p-loader'} %}
        <div class='payment-wrap payment-step-1 payment-pagos'>
            {#<div class='payment-header-wrap'>
                
            </div>3}
            {#<h3>{%trans%}Transacción Segura{%endtrans%}</h3>#}
            <div class="clearfix">
                <div class="row">
                    <div class="col-xs-12 payment2-header-wrap">
                        <div class="col-xs-6 special-border">
                            {#<p class="m-t-1 monto_pagar">{%trans%}Cantidad a Pagar*{%endtrans%}</p>#}
                            <h1 class="cantidad_pagar">{{payment.string}}</h1>
                        </div>
                        <div class="col-xs-6">
                            <p class="tarjetas">
                                <span class="logos-cards">
                                    <i class="ico-tarjeta ico-master"></i>
                                    <i class="ico-tarjeta ico-american"></i>
                                    <i class="ico-tarjeta ico-visa"></i>
                                </span>
                            </p>
                        </div>
                        <div class="candado-wrap">
                            <a class="candado"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                <div class="row payment2-header-wrap m-t-2">
                    <div class="tabs">
                        <ul class="tab-links">
                            <li class="active"><a class="pago-tarjetas" href="#tab1"></a></li>
                            <li><a  class="btn-locate pago-paypal" href="#tab2"></a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab1" class="tab active">
                                <div class='payment-content-wrap'>
                                    <div class='clearfix'>
                                        <div class="do-payment">
                                            <form method="post" action="{{path('payment')}}"  class="jpayment jpayment2 w-100p">
                                                <div class="col-xs-12">
                                                    <div class="step1">
                                                        <fieldset class='col-xs-12 form-group'>
                                                            <label for="numeroTarjeta">{%trans%}Número de tarjeta*{%endtrans%}</label>
                                                            <input type='text' class="required creditcard" autocomplete="off" name='numeroTarjeta' placeholder='' />

                                                        </fieldset>
                                                        <fieldset class="col-xs-12 form-group">
                                                            <fieldset class="col-xs-6 clearfix form-group">
                                                                <div class="row">         
                                                                    <div class=""><label for="numeroTarjeta">{%trans%}Fecha de Expiración*{%endtrans%}</label></div>

                                                                    <div class="row">
                                                                        <fieldset class='col-xs-6'>
                                                                            <input type='text' class="required number special_input" autocomplete="off" name='mesExpiracion' placeholder='{%trans%}MM*{%endtrans%}' />

                                                                        </fieldset>
                                                                        <fieldset class='col-xs-6 form-group'>

                                                                            <input type='text' class="required number special_input" autocomplete="off" name='anyoExpiracion' placeholder='{%trans%}AA*{%endtrans%}' />

                                                                        </fieldset>
                                                                    </div>
                                                                </div>
                                                            </fieldset>
                                                            <fieldset class="col-xs-6 form-group">
                                                                <div class="col-xs-12"> 
                                                                    <label for="numeroTarjeta">{%trans%}Codigo de Seguridad*{%endtrans%}</label>
                                                                </div>
                                                                <fieldset class='col-xs-6 form-group'>
                                                                    <input type='text' class="required number" autocomplete="off" name='cvt' placeholder='{%trans%}CVT*{%endtrans%}' />

                                                                </fieldset>
                                                                <fieldset class='col-xs-6 form-group special-col6'>

                                                                    <span href="#" class="cvv"></span>

                                                                </fieldset>
                                                            </fieldset>

                                                        </fieldset>
                                                        <fieldset class='col-xs-12 form-group'>

                                                            <div class="row"> <div class="col-xs-12"> 
                                                                    <label for="numeroTarjeta">{%trans%}Nombre del Titular de la Tarjeta*{%endtrans%}</label>
                                                                </div>
                                                                <div class="col-xs-6">
                                                                    <input type='text' class="required" name='nombre' placeholder='{%trans%}Nombre*{%endtrans%}' />
                                                                </div>

                                                                <div class="col-xs-6">
                                                                    <input type='text' class="required" name='apellidos' placeholder='{%trans%}Apellidos*{%endtrans%}' />
                                                                </div>
                                                            </div>

                                                        </fieldset>
                                                        <fieldset class='col-xs-12 form-group'>
                                                            <div class="row">
                                                                <p class="payment-result"></p>
                                                            </div>
                                                        </fieldset>
                                                        {# <fieldset class='col-xs-12 form-group'>
                                                             <label for="numeroTarjeta">{%trans%}Dirección de Email*{%endtrans%}</label>
                                                             <input type='text'  class="required email" name='email' placeholder='{%trans%}Email*{%endtrans%}' />
 
                                                         </fieldset>#}
                                                    </div>
                                                    <div class="step2"> 
                                                        {#<fieldset class='col-xs-6'>
                                                            <input type='text' class="required number special_input" autocomplete="off" name='mesExpiracion' placeholder='{%trans%}MM*{%endtrans%}' />
    
                                                        </fieldset>
                                                        <fieldset class='col-xs-6'>
    
                                                            <input type='text' class="required number special_input" autocomplete="off" name='anyoExpiracion' placeholder='{%trans%}YY*{%endtrans%}' />
    
                                                        </fieldset>#}
                                                        {#
                                                         <fieldset class="col-xs-6">
                                                             <input type='hidden' value="59143515" class="required" data-rule-digits="true" data-rule-minlength="7" data-rule-maxlength="10" name='telefono' placeholder='{%trans%}Teléfono*{%endtrans%}' />
                                                         </fieldset>
                                                         <fieldset class="col-xs-6">
                                                             <input value="5540889044" type='hidden' class="required" data-rule-digits="true" data-rule-minlength="10" data-rule-maxlength="10" name='celular' placeholder='{%trans%}Celular*{%endtrans%}' />
                                                         </fieldset>
                                                         <fieldset class='col-xs-6'>
                                                             <input type='hidden' value="N/A" class="required" name='calleyNumero' placeholder='{%trans%}Calle y número*{%endtrans%}' />
                                                         </fieldset>
                                                         <fieldset class='col-xs-6'>
                                                             <input type='hidden' value="N/A" class="required" name='pais' placeholder='{%trans%}Pais*{%endtrans%}' />
                                                         </fieldset>
                                                         <fieldset class='col-xs-6'>
                                                             <input type='hidden' class="required" value="N/A" name='colonia' placeholder='{%trans%}Colonia*{%endtrans%}' />
                                                         </fieldset>
                                                         <fieldset class='col-xs-6'>
                                                             <input type='hidden' class="required" name='estado' value="N/A" placeholder='{%trans%}Estado*{%endtrans%}' />
                                                         </fieldset>
                                                         <fieldset class='col-xs-6'>
                                                             <input type='hidden' class="required" name='municipio' value="N/A" placeholder='{%trans%}Municipio*{%endtrans%}' />
                                                         </fieldset>
                                                         <fieldset class='col-xs-6'>
                                                             <input type='hidden' name="cp" class="required number" value="53278" name='cp' placeholder='{%trans%}CP*{%endtrans%}' />
                                                         </fieldset> 
                                                         #}

                                                        <input type='hidden' value="guillermo@spraystudio.com.mx" class="required email" name='email' placeholder='{%trans%}Email*{%endtrans%}' />
                                                        <input type='hidden' value="59143515" class="required" data-rule-digits="true" data-rule-minlength="7" data-rule-maxlength="10" name='telefono' placeholder='{%trans%}Teléfono*{%endtrans%}' />
                                                        <input value="5540889044" type='hidden' class="required" data-rule-digits="true" data-rule-minlength="10" data-rule-maxlength="10" name='celular' placeholder='{%trans%}Celular*{%endtrans%}' />
                                                        <input type='hidden' value="N/A" class="required" name='calleyNumero' placeholder='{%trans%}Calle y número*{%endtrans%}' />
                                                        <input type='hidden' value="N/A" class="required" name='pais' placeholder='{%trans%}Pais*{%endtrans%}' />
                                                        <input type='hidden' class="required" value="N/A" name='colonia' placeholder='{%trans%}Colonia*{%endtrans%}' />
                                                        <input type='hidden' class="required" name='estado' value="N/A" placeholder='{%trans%}Estado*{%endtrans%}' />
                                                        <input type='hidden' class="required" name='municipio' value="N/A" placeholder='{%trans%}Municipio*{%endtrans%}' />
                                                        <input type='hidden' name="cp" class="required number" value="53278" name='cp' placeholder='{%trans%}CP*{%endtrans%}' />
                                                        <input type="hidden" name="param1" value="{%trans%}Geosignal Services{%endtrans%}" />
                                                        <input type="hidden" name="monto" value="{{payment.number}}" />
                                                    </div>
                                                </div>
                                                <div class='col-xs-12'>
                                                    {#<div class="col-xs-6"> <input type='button' value='{%trans%}Regresar{%endtrans%}' class='btn-red btn-payment-step-forward' /></div>#}
                                                    <div class=""> <input type='submit' value='{%trans%}PAGAR AHORA{%endtrans%}' class='btn-red submit' /></div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class='hidden step3 payment-success'>
                                        <div class='resume-wrap bg-solid w-80p'>
                                            {#<span class='logo-pago-facil'></span>#}
                                            <div class='w-50p text-center '>
                                                <h1 class="thanks-wrap">{% trans %}¡Gracias!{%endtrans%}</h1>
                                                <p class="thanks-wrap">{% trans %}Pago exitoso{%endtrans%}</p>
                                            </div>
                                            <div class=""><a href="{{path('result')}}" class='btn-red btn-close'>{%trans%}Obtener Ubicación{%endtrans%}</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="tab2" class="tab">
                                <form class='text-center' action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                    <p>{%trans%}El servicio tiene un costo que se puede pagar a través de Paypal.{%endtrans%}</p>
                                    <input type="hidden" name="cmd" value="_s-xclick">
                                    <input type="hidden" name="hosted_button_id" value="{%trans%}CHTLV9JJKV75S{%endtrans%}">
                                    <input type="submit" class="btn-locate" value="{%trans%}Pagar con PayPal{%endtrans%}" />
                                    <img alt="{%trans%}Obtener Ubicación{%endtrans%}" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                                    <p>{%trans%}Da click en el botón para obtener más información.{%endtrans%}</p>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>