<div class="hidden">
    <div id="paymentSelector" >
        <div class='payment-wrap payment-step-1'>
            <div class='payment-header-wrap'>
                <h3>{%trans%}Selecciona tu forma de pago{%endtrans%}</h3>
            </div>
            <div class='payment-content-wrap payment-header-wrap'>
                <div>
                    <br />
                    <form class='text-center' action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <p>{%trans%}El servicio tiene un costo que se puede pagar a través de Paypal.{%endtrans%}</p>
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="{%trans%}CHTLV9JJKV75S{%endtrans%}">
                        <input type="submit" class="btn-locate" value="{%trans%}Pagar con PayPal{%endtrans%}" />
                        <img alt="{%trans%}Obtener Ubicación{%endtrans%}" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                        <p>{%trans%}Da click en el botón para obtener más información.{%endtrans%}</p>
                    </form>
                    <form class='text-center' action="" method="post" target="_top">
                        <p> <input class="btn-locate card-payment" type="submit" value="{%trans %}Pagar con tarjeta{%endtrans%}" /></p>
                    </form>
                    <br />
                </div>

            </div>
        </div>
    </div>
</div>