<div class="hidden">  
    <div id="mainContent" class="content">
        <h2>UBICA TU TELEFONO</h2>
        <p>Write your number to locate you.</p>
        <form class="register">
            <input type="text" name="telefono" />
            <input type="submit" value="START" />
        </form>
    </div>
</div>