<div class="hidden">
    <div id="mainContent" class="content text-center">
        <h1>{%trans%}Localizador de Móviles{% endtrans %}</h1>
        <form class="register validate">
            <input type="text" name="telefono" class="required internationalPhone" minlength="8" maxlength="15" placeholder="{%trans%}Escribe tu número para localizarte.{%endtrans%}" autocomplete="off" />
            <input type="submit" value="{%trans%}Iniciar{%endtrans%}" />
        </form>
    </div>
</div>

<script type='text/javascript'>
    label_submit = "{%trans%}Buscar{%endtrans%}";
    labels = ["{%trans%}Evaluación de dispositivo y navegador.{%endtrans%}", "{%trans%}Revisando el dispositivo.{%endtrans%}", "{%trans%}Su dispositivo y navegador cumplen con los requerimientos necesarios.{%endtrans%}"];
    labels2 = ["{%trans%}Leyendo antenas.{%endtrans%}", "{%trans%}Leyendo frecuencia.{%endtrans%}", "{%trans%}Calculando posición.{%endtrans%}", "{%trans%}Creando mapa.{%endtrans%}"];
</script>