<div class="hidden">
    <div id="paymentSelector" >
        <div class='payment-wrap payment-step-1'>
            <div class='payment-header-wrap'>
                <h3>{%trans%}Selecciona tu forma de pago{%endtrans%}</h3>
            </div>
            <div class='payment-content-wrap payment-header-wrap'>
                <div>
                    <br />
                        <p>{%trans%}El servicio tiene un costo que se puede pagar a través de Paypal.{%endtrans%}</p>
                        <input type="submit" class="btn-locate" value="{%trans%}Pagar con PayPal{%endtrans%}" />
                        <p>{%trans%}Da click en el botón para obtener más información.{%endtrans%}</p>
                    <form class='text-center' action="" method="post" target="_top">
                        <p> <input class="btn-locate card-payment" type="submit" value="{%trans %}Pagar con tarjeta{%endtrans%}" /></p>
                    </form>
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>