<div class="hidden">
    <div id="mainVideos" class="content text-center">
        <h1>{%trans%}Localizador de Móviles{% endtrans %}</h1>
        <div class="fancy1"> 
            <div class="bxslider">
                <div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/p0VxCIP_EzU" frameborder="0" allowfullscreen></iframe>
                </div>
                 <div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/dsyDdgxrYDw" frameborder="0" allowfullscreen></iframe>
                </div>
                 <div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VG_k-Td-BJk" frameborder="0" allowfullscreen></iframe>
                </div>
                 <div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/JWMU2867XjQ" frameborder="0" allowfullscreen></iframe>
                </div>
                 <div>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/gKJKnx_pCGQ" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
