<div class="footer-wrap">
    <div class="footer-content container">
        <p>
            {% image '@GeosignalWebBundle/Resources/public/images/ico-cel.png' %}
            <img src="{{ asset_url }}" alt="" />
            {% endimage %}
            <span>{% trans %}Dispositivo{% endtrans %}</span>
            {% image '@GeosignalWebBundle/Resources/public/images/ico-antenas.png' %}
            <img class="antenas-hide" src="{{ asset_url }}" alt="" />
            {% endimage %}
            <span class="antenas-hide">{% trans %}Antenas Celulares{% endtrans %}</span>
        </p>
    </div>
</div>