<div class="header-wrap">
    <div class="header-content container">
        <a href="{% block url_home %} {{ path('homepage') }} {% endblock %}" class="logo"></a>
        {#
        <ul class="nav-main list-inline">
            <li><a href="#">Sobre  Localizador de Móviles</a></li>
            <li><a href="#">Términos y Condiciones</a></li>
        </ul>
        #}
        <a href="#" class="ico-menu"></a>
    </div>
</div>
<a href="#" class="btn-full"></a>