<div class="header-wrap">
    <div class="header-content container">
        <a href="{% block url_home %} {{ path('homepage') }} {% endblock %}" class="logo"></a>
        <a href="#" class="ico-menu"></a>
    </div>
</div>