/*
    Created on : Jul 11, 2015, 2:46:27 AM
    Author     : ZER0
*/
/*iPad in portrait & landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  { /* STYLES GO HERE */}

/*iPad in landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) { /* STYLES GO HERE */}

/*iPad in portrait*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) { /* STYLES GO HERE */ }

/*iPad 3 & 4 Media Queries*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */}

/*Retina iPad in landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */}

/*Retina iPad in portrait*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) { /* STYLES GO HERE */ }

/*iPad 1 & 2 Media Queries*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 1){ /* STYLES GO HERE */}

/*iPad 1 & 2 in landscape*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { /* STYLES GO HERE */}

/*iPad 1 & 2 in portrait*/
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 1) { /* STYLES GO HERE */ }

/*iPhone 6 in portrait & landscape*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) { /* STYLES GO HERE */}

/*iPhone 6 in landscape*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : landscape) { /* STYLES GO HERE */}

/*iPhone 6 in portrait*/
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) { /* STYLES GO HERE */ }

/*iPhone 6 Plus in portrait & landscape*/
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) { /* STYLES GO HERE */}

/*iPhone 6 Plus in landscape*/
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : landscape) { /* STYLES GO HERE */}

/*iPhone 6 Plus in portrait*/
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px)
and (orientation : portrait) { /* STYLES GO HERE */ }

/*iPhone 5 & 5S in portrait & landscape*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) { /* STYLES GO HERE */}

/*iPhone 5 & 5S in landscape*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) { /* STYLES GO HERE */}

/*iPhone 5 & 5S in portrait*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) { /* STYLES GO HERE */ }

/*iPhone 2G-4S in portrait & landscape*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) { /* STYLES GO HERE */}

/*iPhone 2G-4S in landscape*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : landscape) { /* STYLES GO HERE */}

/*iPhone 2G-4S in portrait*/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px)
and (orientation : portrait) { /* STYLES GO HERE */ }


/*Phones*/
@media only screen and (max-width : 736px){
    .w-site{
        width: 95%;
    }
    /*HOME*/
    .info-sales{
        display: block;
        margin: 0;
        width: 100%;
    }
    .info-sales p{
        text-align: justify;
    }
    .img-services{
        display: block;
        width: 100%;
    }

    .agencia-wrap .img-responsive{
        width: 100%;
        display: block;
        margin-left: 0;
    }

    .agencia-wrap ul{
        display: block;
        width: 94%;
    }

    .paquetes-slider-wrap{
        width: 100%;
        display: block;
    }
    .paquetes-wrap{
        display: block;
        width: 60%;
        margin: 0;
    }

    .paquetes-table-wrap{
        width: 100%;
        margin: 0;
        display: block;
    }

    .img-paquetes{
        display: block;
        width: 100%;
        text-align: center;
    }

    .img-paquetes img{
        text-align: center;
        margin: auto;
    }

    .main-content p{
        text-align: justify;
    }

    /*FOOTER*/
    .grid-xs-3-12{
        width: 23.6%;
    }
    .grid-xs-4-12{
        width:31.933%;
    }
    .grid-xs-5-12{
        width:40.2666667%;
    }
    .grid-xs-6-12{
        width:48.6%;
    }
    .grid-xs-7-12{
        width:56.9333333%;
    }
    .grid-xs-8-12{
        width:65.2666666%;
    }
    .grid-xs-12-12{
        width: 100%;
        display: block;
    }


    .grid-xs-offset-3-12{
        margin-left: 23.6%;
    }
    .grid-xs-offset-4-12{
        margin-left:31.933%;
    }
    .grid-xs-offset-5-12{
        margin-left:40.2666667%;
    }
    .grid-xs-offset-6-12{
        margin-left:48.6%;
    }
    .grid-xs-offset-7-12{
        margin-left:56.9333333%;
    }
    .grid-xs-offset-8-12{
        margin-left:65.2666666%;
    }
    .grid-xs-offset-12-12{
        margin-left: 100%;
    }

    .ico-foo{
        padding-left: 56px;
    }

    /*HEADER*/

    .header-content{
        padding-bottom: 0;
    }
    .logo{
        width: 43.444%;
        padding-top: 10.091%;
    }
    .btn-toggle{
        background-image: url("../images/template/ico-menu.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 90% auto;
        width: 3rem;
        height: 3rem;
        font-size: 0;
        position: absolute;
        top: .2rem;
        right: 0;
        z-index: 910;
    }

    .nav-main {
        width: 100%;
        margin: 0;
        margin-bottom: 0;
        display: none;
    }
    .nav-main  li{
        display: block;
        width: 100%;
        text-align: center;
        margin-right: 0;
        margin-left: 0;
        border-bottom: 1px solid #DEDEDE;
    }

    .nav-main li:last-child{
        border: none;
    }


    .nav-main > li{
        padding: 0.4rem 0;
    }

    .nav-main a {
        margin: 0.8%;
        font-size: 1.6rem;
        display: block;
        text-align: center;
        color: #000;
        padding: .5rem;
    }

    .nav-main a:hover, .nav-main a.active {
        border: none;
    }

    .contacto-form{
        width: 100%;
        margin: 0;
    }
    .map-wrap{
        width: 100%;
        margin: 0;
    }
    .contacto-wrap .grid-4-12{
        padding-left: 15%;
    }

    /*DISEÑO WEB*/
    .main-slider-wrap h1{
        font-size: 1.5rem;
    }

    .main-slider-wrap ul{
        font-size: 0.7rem;
    }

    .main-slider-wrap p{
        font-size: 1rem;
        width: 76%;
    }
    /*SEO*/

    .hidden-xs{
        display: none !important;
    }

    .btn-yellow{
        margin: 12% 0px;
    }

    /*CONTACTO*/
    .ico-address{
        padding-top: 14.778%;
    }

    .ico-phone{
        padding-top: 14%;
    }

    .ico-social{
        padding-top: 10%;
    }

    input[type=submit] {
        -webkit-appearance: none !important;

    }

    /*SLIDER HOME*/
    .main-slider-wrap.top-slider-wrap{
        padding-top: 49.7%;
    }
    .main-slider-wrap.top-slider-wrap .bx-wrapper{
        padding-top: 49.7%;
    }

    .top-slider-wrap .s-1 .e-1{top: 10%;}
    .top-slider-wrap .s-1.active .e-1{transform: translateX(50%) scale(1.8); -webkit-transform: translateX(50%) scale(1.8);}
    .top-slider-wrap .s-1 .e-2{top: 25%;}
    .top-slider-wrap .s-1.active .e-2{transform: translateX(3.4%); -webkit-transform: translateX(3.4%);}
    .top-slider-wrap .s-1 .e-3{ width: 39%; bottom: 0;}
    .top-slider-wrap .s-1.active .e-3{transform: translateX(130%) scale(1.5); -webkit-transform: translateX(130%) scale(1.5);}



    .top-slider-wrap .s-2 .e-1{top: 10%;}
    .top-slider-wrap .s-2.active .e-1{transform: translateX(35%) scale(1.5); -webkit-transform: translateX(35%) scale(1.5); transform-origin: left top;}
    .top-slider-wrap .s-2.active .e-3{transform: translateX(220%) scale(1.3); -webkit-transform: translateX(220%) scale(1.3); transform-origin: right bottom;}

    .top-slider-wrap .s-3 .e-1{top: 10%;}
    .top-slider-wrap .s-3.active .e-1{transform: translateX(50%) scale(1.5); -webkit-transform: translateX(50%) scale(1.5); transform-origin: left top;}
    .top-slider-wrap .s-3.active .e-3{transform: translateX(220%) scale(1.3); -webkit-transform: translateX(220%) scale(1.3); transform-origin: right bottom;}

    .top-slider-wrap .s-4 .e-1{top: 10%;}
    .top-slider-wrap .s-4.active .e-1{transform: translateX(50%) scale(1.5); -webkit-transform: translateX(50%) scale(1.5); transform-origin: left top;}
    .top-slider-wrap .s-4.active .e-3{transform: translateX(240%) scale(1.3); -webkit-transform: translateX(240%) scale(1.3); transform-origin: right bottom;}
    .top-slider-wrap .s-4.active .e-2{transform: translateX(190%) scale(1.4); -webkit-transform: translateX(190%) scale(1.4); transform-origin: left center;}
    .top-slider-wrap .s-4 .e-2{top: 60%;}
    .top-slider-wrap .s-4 .e-2{width: 15.012% !important padding-top: 13.209%;}

    .top-slider-wrap .s-5 .e-1{top: 10%;}
    .top-slider-wrap .s-5.active .e-1{transform: translateX(50%) scale(1.5); -webkit-transform: translateX(50%) scale(1.5); transform-origin: left top;}
    .top-slider-wrap .s-5.active .e-3{transform: translateX(235%) scale(1.3); -webkit-transform: translateX(235%) scale(1.3); transform-origin: right bottom;}
    .top-slider-wrap .s-5.active .e-2{transform: translateX(190%) scale(1.4); -webkit-transform: translateX(190%) scale(1.4); transform-origin: left center;}
    .top-slider-wrap .s-5 .e-2{top: 60%;}
    .top-slider-wrap .s-4 .e-2{width: 15.012% !important padding-top: 13.209%;}

    .top-slider-wrap .s-6 .e-1{top: 10%;}
    .top-slider-wrap .s-6.active .e-1{transform: translateX(50%) scale(1.5); -webkit-transform: translateX(50%) scale(1.5); transform-origin: left top;}
    .top-slider-wrap .s-6.active .e-3{transform: translateX(230%) scale(1.3); -webkit-transform: translateX(230%) scale(1.3); transform-origin: right bottom;}
    .top-slider-wrap .s-6.active .e-2{transform: translateX(190%) scale(1.4); -webkit-transform: translateX(190%) scale(1.4); transform-origin: left center;}
    .top-slider-wrap .s-6 .e-2{top: 60%;}
    .top-slider-wrap .s-4 .e-2{width: 15.012% !important padding-top: 13.209%;}

    .social-wrap a{
        margin: 0 1%;
    }

    .zopim{
        left: auto !important;
        right: 5px !important;
    }

    .btn-yellow{
        font-size: 1.6rem;
    }
}



/*Desktop*/
@media only screen and (min-device-width : 1024px){ /* STYLES GO HERE */ }

/*Laptop*/
@media only screen and (min-device-width : 1100px) and (max-device-width : 1280px){ /* STYLES GO HERE */ }