{% extends "layout.html.twig" %}
{% block content %}
    <div id="map-canvas"></div>
    {% include 'main/videos.html.twig' %}
{% endblock %}
{% block footer %}
{% endblock %}

{% block url_home %}
    {{path('alt')}}
{% endblock %}