{% extends "layout.html.twig" %}
{% block content %}
    <div id="map-canvas"></div>
    {% include 'main/payment.html.twig' %}
    {% include 'main/payment_selector.html.twig' %}
    {% include 'main/register.html.twig' %}
    {% include 'main/pay_pal.html.twig' %}
{% endblock %}
